.flex-row {
    
    display: flex;
    margin-top: 200px;
    justify-content: space-evenly;
    /* background-image: no-repeat; */
}

.NotFound {
    background-color: gainsboro;
    background-color:cover;
    background-repeat: no-repeat;
     background-position: center;
     width: 2000px;
     height: 1000px;
     border: none;
    
}
/* .image {
    
image-rendering: url("../images/Squirrel-404.jpg");

    
} */