.MessageComponent {
    margin-bottom: 10px;
}

.MessageComponent .btn {
    float: right;
}

.MessageComponent .badge {
    float: right;
}

.MessageComponent .badge:hover {
    cursor: pointer;
}

.MessageComponent .card-header, .MessageComponent .card-footer {
    background-color: yellow;
}

.MessageComponent .card-body {
    background-color: lightyellow;
}

.MessageComponent a {
    color: var(--gray);
}